<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1" />
    <title>修改登录密码 - 余惜网</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/base.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/nctouch_member.css">
    <script type="text/javascript" src="../../static/js/host.js"></script>
    <script type="text/javascript" src="../../static/js/vue-2.5.16.js"></script>
    <script type="text/javascript" src="../../static/js/axios-0.18.0.min.js"></script>
    <script>
        var user_id = sessionStorage.user_id || localStorage.user_id;
        var token = sessionStorage.token || localStorage.token;
        if (!(user_id && token)) {
            location.href = '/login.html?next=/wap/member/member.html';
        }
    </script>
</head>
<body>
<header id="header">
    <div class="header-wrap">
        <div class="header-l"> <a href="member_account.html"> <i class="back"></i> </a> </div>
        <div class="header-title">
            <h1>修改登录密码</h1>
        </div>
    </div>
</header>
<div class="nctouch-main-layout" id='app'>
    <div class="register-mobile-tip"> 登录密码由 6-20个大小写英文字母、符号或数字组成</div>
    <div class="nctouch-inp-con">
        <form id="set-pwd" @submit.prevent="on_submit">
            <ul class="form-box">
                <li class="form-item">
                    <h4>当前密码</h4>
                    <div class="input-box">
                        <input type="password" v-model="password" @blur="check_pwd" name="password" maxlength="20" size="10" class="inp" autocomplete="off" placeholder="输入登录密码">
                    </div>
                    <div class="error-tips" v-show="error_password">{{ error_pwd_message }}</div>
                </li>
                <li class="form-item">
                    <h4>新的密码</h4>
                    <div class="input-box">
                        <input type="password" v-model="passwordn1" @blur="check_pwd1" name="passwordn1" maxlength="20" size="10" class="inp" autocomplete="off" placeholder="输入登录密码">
                    </div>
                </li>
                <li class="form-item">
                    <h4>密码确认</h4>
                    <div class="input-box">
                        <input type="password" v-model="password2" @blur="check_pwd2" name="password2" class="inp" maxlength="20" placeholder="再次输入登录密码">
                    </div>
                </li>
            </ul>
            <div class="error-tips" v-show="error_newpwd">{{ error_newpwd_message }}</div>
            <div class="form-btn ok"><input type="submit" name="" value="提 交" class="btn"></div>
        </form>
    </div>
</div>
<footer id="footer">
	<div id="footnav" class="footnav clearfix"><ul><li><a href="/"><i class="home"></i><p>首页</p></a></li><li><a href="/wap/shop/product_first_categroy.html"><i class="categroy"></i><p>分类</p></a></li><li><a href="/wap/shop/search.html"><i class="search"></i><p>搜索</p></a></li><li><a href="/wap/shop/cart_list.html"><span id="cart_count"><i class="cart"></i></span><p>购物车</p></a></li><li><a href="/wap/member/member.html"><i class="member"></i><p>个人中心</p></a></li></ul></div>
</footer>
<script type="text/javascript" src="../../static/js/set_pwd.js"></script>
</body>
</html>